<div class="discover-card">
  <div class="discover-card-publisher">
    <div class="discover-card-publisher-info">
      <img src="{{{this.favicon}}}" class="discover-card-publisher-favicon">
      <span class="discover-card-publisher-name">{{this.publisher}}</span>
    </div>
    <div class="discover-card-publisher-actions">
      <span class="discover-card-follow">Follow</span>
      <span class="material-symbols-outlined">more_vert</span>
    </div>
  </div>
  <img src="{{{this.imageUrl}}}" class="discover-card-img">
  <h2 class="discover-card-title">{{this.title}}</h2>
  <div class="discover-card-meta">
    <span class="discover-card-date">{{ago this.datePublished}}</span>
    <div class="discover-card-actions">
      <span class="material-symbols-outlined">favorite</span>
      <span class="material-symbols-outlined">share</span>
    </div>
  </div>
</div>
