<div class="search-result layout-small-horizontal">
  <a class="result-link" href="{{{this.canonical}}}">
    <div class="result-content">
      <div class="thumbnail-container">
        <img class="thumbnail-square" src="{{{this.imageUrl}}}" alt="">
      </div>
      <div class="info-container">
        <div class="source-header">
          <div class="source-info">
            <img class="favicon" src="{{{this.favicon}}}" alt="">
            <span class="source-name">{{this.publisher}}</span>
          </div>
          <div class="more-icon">
            <svg focusable="false" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
              <path d="M12 8c1.1 0 2-.9 2-2s-.9-2-2-2-2 .9-2 2 .9 2 2 2zm0 2c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2zm0 6c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2z"></path>
            </svg>
          </div>
        </div>
        <h3 class="result-title">{{this.title}}</h3>
        <div class="result-meta">
          {{#if this.live}}<span class="live-badge-mini">LIVE</span>{{/if}}
          <span class="date">{{ago this.datePublished}}</span>
        </div>
      </div>
    </div>
  </a>
</div>
