<div class="serp-result">
  <div class="serp-header">
    <div class="serp-favicon-wrap">
      <img class="serp-favicon" src="{{{this.favicon}}}" alt="">
    </div>
    <div class="serp-source">
      <div class="serp-publisher">{{this.publisher}}</div>
      <div class="serp-url">{{this.origin}}</div>
    </div>
    <div class="serp-more">
      <svg focusable="false" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
        <path d="M12 8c1.1 0 2-.9 2-2s-.9-2-2-2-2 .9-2 2 .9 2 2 2zm0 2c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2zm0 6c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2z"></path>
      </svg>
    </div>
  </div>
  <a class="serp-headline" href="{{{this.canonical}}}">{{this.titleTag}}</a>
  <div class="serp-description">
    <span class="serp-date">{{ago this.datePublished}}</span> &mdash; {{this.description}}
  </div>
</div>
