<div class="kvH3mc BToiNc UK95Uc">
  <div class="Z26q7c UK95Uc jGGQ5e" style="">
    <div class="P8ujBc v5yQqb jqWpsc">
      <span id="link" class="cz3goc BmP5tf">
        <div class="y0NFKc">
          <div class="OSrXXb NJS5vf RNQ5ae">
            <div class="d8lRkd OSrXXb WQnrNe MUxGbd lyLwlc aLF0Z">
              <span class="yIn8Od">
                <span class="isfEv">
                  <span>
                    <span class="H9lube">
                      <div class="eqA2re NjwKYd Vwoesf">
                        <img class="XNo5Ab" src="{{this.favicon}}" style="height:18px;width:18px" />
                      </div>
                    </span>
                  </span>
                </span>
                <span class="wbJOMb">
                  <span class="pKWwCd q8U8x zydFU">
                    <div class="Aozhyc MUxGbd lyLwlc aLF0Z OSrXXb" style="color:#202124">
                      <span class="BTu2cd">{{this.publisher}}</span>
                    </div>
                  </span>
                  <span class="OSrXXb VN4UC">
                    <span class="yKd8Hd qzEoUe">{{this.canonical}}</span>
                  </span>
                </span>
              </span>
            </div>
          </div>
          <div class="oewGkc LeUQr MUxGbd v0nnCb" aria-level="3" role="heading">
            <div id="headline" class="A9xod ynAwRc q8U8x MBeuO oewGkc LeUQr htnRc" role="link">{{this.titleTag}}</div>
          </div>
        </div>
      </span>
    </div>
  </div>

  <div class="Z26q7c UK95Uc" style="margin-top:2px;margin-right:16px;margin-left:16px;margin-bottom:12px">
    <div class="VwiC3b MUxGbd yDYNvb lEBKkf" style="-webkit-line-clamp:3">
      <span class="MUxGbd wuQ4Ob WZ8Tjf"><span>{{ago this.datePublished}}</span> — </span>{{this.description}}
    </div>
  </div>
</div>
